/* div {
    border: 1px solid #000000;
} */

/* #navmenu {
    top:50%;
} */

 /* The right sidenav menu filter. */
 .sidenav {
    /* height: 100%; <FIND A SOLUTION FOR THIS height% is not athing>. */
    height: 800px;
    width: 0;
    position: fixed;
    z-index: 1; /* Stay on top. */
    left: 0;
    background-color: #555;
    overflow-x: hidden; /* Disable horizontal scroll. */
    padding-top: 50px; /* Place content 60px from the top. */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav. */
}

/* The right sidenav exit button. */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: orange;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the right sidenav exit button, change the color. */
.sidenav a:hover {
    color: #f1f1f1;
}

/* The right sidenav menu and the right sidenav exit button. */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content, pushes page content to the right when you open the side navigation. */
#fullMap {
    transition: margin-left .5s;
    padding: 1px;
}
  
/* Style menu tab links. */
.tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}

.tablink:hover {
    background-color: #777;
}

/* Style menu row background. */
.background-grey {
    background-color: #555;
}

#mapid { 
    height: 800px; 
}

/* Menu items related to maps. */
.mapTabs {
    float: left;
}
/* Menu items not related to maps. */
.menuTabs {
    float: right;
}

/* Removes padding. */
.padding-0 {
    padding-right:0;
    padding-left:0;
}

/* Adds padding. */
.padding-5 {
    padding: 5px 5px 5px 5px;
}


/* removes margin. */
.margin-0 {
    margin: 0;
}

/* sidenave filterform color. */
#filterForm {
    color: orange;
}