/* div {
    border: 1px solid #000000;
} */

/* #navmenu {
    top:50%;
} */

 /* The side map filter */
 .sidenav {
    /* height: 100%; */
    height: 800px;
    width: 0;
    position: fixed;
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #555;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The side map filter */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the side map filter, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Side map filter position and style of the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#fullMap {
    transition: margin-left .5s;
    padding: 1px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
/* Style menu tab links */
.tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}

.tablink:hover {
    background-color: #777;
}

/* Style menu row background */
.background-grey {
    background-color: #555;
}

#mapid { 
    height: 800px; 
}

/* Menu items related to maps */
.mapTabs {
    float: left;
}
/* Menu items not related to maps */
.menuTabs {
    float: right;
}

/* removes padding */
.padding-0 {
    padding-right:0;
    padding-left:0;
}

/* removes margin */
.margin-0 {
    margin: 0;
}